# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/
venv/
ENV/

# IDE settings
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Database
*.sqlite
*.db

# Local configuration (secrets)
.env